odoo-addon-account_statement_base @ git+https://github.com/OCA/account-reconcile.git@refs/pull/739/head#subdirectory=account_statement_base
odoo-addon-account_statement_import_base @ git+https://github.com/OCA/bank-statement-import.git@refs/pull/735/head#subdirectory=account_statement_import_base
odoo-addon-account_statement_import_file @ git+https://github.com/OCA/bank-statement-import.git@refs/pull/736/head#subdirectory=account_statement_import_file
odoo-addon-account_statement_import_camt @ git+https://github.com/xaviedoanhduy/bank-statement-import.git@refs/pull/4/head#subdirectory=account_statement_import_camt
